<footer class="footmenu bg-gray-200 text-gray-800 px-8 py-4 w-full ">
  <div class="container mx-auto">
    <div class="mb-8">
      <div class="text-center">
        <h1 class="text-2xl font-bold mt-2">Contacto</h1>
        <h2 class="text-xl mt-2">Información de contacto:</h2>
        <p class="mt-2"><strong>Dirección:</strong> Calle Ajedrez, número 123, Ciudad del Enroque.</p>
        <p><strong>Teléfono:</strong> +1 234 567 8901</p>
        <p><strong>Correo electrónico:</strong> <a href="mailto:info@enroqueclub.com" class="text-blue-400">info@enroqueclub.com</a></p>
        <p class="mt-2">
          <strong>Información adicional:</strong><br> Este mes estaremos organizando un torneo abierto de ajedrez en
          nuestro local, ¡regístrate ya y participa en esta emocionante competencia! Además, ofrecemos clases de
          ajedrez para principiantes y jugadores avanzados, ¡consulta nuestro calendario para más detalles!
        </p>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between items-center border-t border-gray-700 pt-4">
      <div class="flex items-center mb-4 sm:mb-0">
        <img src="./assets/images/castle.png" alt="Logo" class="h-8 w-8" />
      </div>
      <ul class="flex flex-col sm:flex-row mb-4 sm:mb-0 space-y-4 sm:space-y-0 sm:space-x-4">
        <li><a href="#" class="nav__buttom">Home</a></li>
        <li><a href="./index.html" class="nav__buttom">Miembros</a></li>
        <li><a href="./second.html" class="nav__buttom">Información</a></li>
        <li><a href="#" class="nav__buttom">Adicional</a></li>
      </ul>
      <div class="flex items-center">
        <a href="#" class="mx-2"><img src="./assets/images/facebook.png" alt="Facebook" class="h-8 w-8"></a>
        <a href="#" class="mx-2"><img src="./assets/images/google.png" alt="Google" class="h-8 w-8"></a>
        <a href="#" class="mx-2"><img src="./assets/images/twitter.png" alt="Twitter" class="h-8 w-8"></a>
      </div>
    </div>
  </div>
</footer>




  