<div class="mainnews__contenarc">
    <h1>Reglas del Club de Ajedrez Enroque</h1>
    <div class="flex flex-col">
        <div>
            <h2 class="text-lg font-bold">
                <button class="w-full text-left py-2 px-3 bg-gray-600 text-white rounded">
                    Regla 1: Respeto a los demás miembros
                </button>
            </h2>
            <div class="bg-gray-100 p-3 rounded mb-2">
                Todos los miembros deben tratar a los demás con respeto y cortesía, independientemente de su nivel de habilidad en el ajedrez.
            </div>
        </div>
        <div>
            <h2 class="text-lg font-bold">
                <button class="w-full text-left py-2 px-3 bg-gray-600 text-white rounded">
                    Regla 2: Puntualidad en las actividades
                </button>
            </h2>
            <div class="bg-gray-100 p-3 rounded mb-2">
                Los miembros deben llegar a tiempo a las clases, torneos y actividades del club. La puntualidad muestra respeto hacia los demás participantes y los organizadores.
            </div>
        </div>
        <div>
            <h2 class="text-lg font-bold">
                <button class="w-full text-left py-2 px-3 bg-gray-600 text-white rounded">
                    Regla 3: No hacer trampas
                </button>
            </h2>
            <div class="bg-gray-100 p-3 rounded mb-2">
                Hacer trampas no está permitido en el club de ajedrez Enroque. Esto incluye, pero no se limita a, recibir ayuda externa durante una partida, usar dispositivos electrónicos para calcular movimientos, o manipular los resultados de un torneo.
            </div>
        </div>
    </div>
</div>