$GenFont: 'Poppins', sans-serif;
$tablet: "(min-width: 481px) and (max-width: 960px)";
$desktop: "(min-width: 961px)";



$theme-colors: (
 "primary": #911828,
 "secondary": #cfcccc
);

@layer components {
    .nav__buttom{
        @apply px-3 py-2 text-gray-800 hover:text-gray-300 text-center;
    }
    .nav__mainbar{
        @apply flex justify-between items-center py-2 px-4;
    }
}

.bgr-grey{background-color: #7F85A3;} 

.bgr-plaelo{background-color: #A3976F;}